@use "/src/styles/variables" as *;

.wrapper {
	display: flex;
	align-items: center;
	background-color: var(--color-primary);
	width: 100%;
	height: 50px;
	border-top: solid 1px var(--color-grayscale-04);
	&.state_edit {
		box-shadow: inset 0 0 3px 0 var(--color-shadow);
	}
}
.state_active, .state_completed, .state_edit {
	position: relative;
}
.state {
	flex-shrink: 0;
	margin: 0 10px;
	width: 30px;
	height: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	border: solid 1px var(--color-grayscale-04);
	cursor: pointer;
	.state_edit & {
		pointer-events: none;
	}
}
.stateIcon {
	flex: 0 0 auto;
	margin-top: 2px;
	width: 70%;
	height: 70%;
	fill: var(--color-grayscale-04);
	opacity: 0;
	transition: opacity $timer-hover, fill $timer-hover;
	&:hover {
		opacity: 1;
	}
	.state_completed & {
		opacity: 1;
		fill: var(--color-success);
	}
}
.actions {
	width: 80px;
	padding-right: 10px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	gap: 10px;
	.button {
		width: 24px;
		height: 24px;
	}
}
.content {
	flex-grow: 1;
	min-width: 50px;
	height: 100%;
	padding: 0 $input-padding + px;
	background-color: transparent;
	color: var(--color-text-light);
	text-decoration: line-through;
	.state_edit &, .state_active & {
		color: var(--color-text-default);
		text-decoration: none;
	}
	&:disabled {
		user-select: none;
	}
}
