@use "/src/styles/variables" as *;

.default {
	padding: 2px 5px;
	border: solid 1px transparent;
	background-color: var(--color-primary);
	border-radius: 4px;
	// font-size: 16px;
	transition: all $timer-hover;
	&:hover {
		background-color: var(--color-grayscale-04);
	}
	&.active {
		background-color: var(--color-primary);
		border-color: var(--color-grayscale-04);
		pointer-events: none;
	}
}