// Colors //

body { // theme-default
	// Global
	--color-primary: #fff;
	--color-grayscale-01: #000;
	--color-grayscale-02: #333;
	--color-grayscale-03: #888;
	--color-grayscale-04: #ccc;
	--color-accent-01: #00C8E8;
	--color-accent-02: #3AEDBA;
	--color-accent-03: #FED45C;
	--color-accent-04: #FF8C52;
	--color-accent-05: #FF3E6C;
	--color-accent-06: #6E55FF;
	--color-hover: #5906EE;
	--color-focus: #30057D;
	--color-error: #ff0000;
	--color-success: #05cf2e;
	--color-shadow: #777;

	--color-bg-primary: var(--color-grayscale-04);
	--color-text-default: var(--color-grayscale-02);
	--color-text-lighter: var(--color-grayscale-03);
	--color-text-light: var(--color-grayscale-04);
}
