@use "variables" as *;

html {
	font-size: $font-size-default;
}
body {
	min-width: $page-min-width;
	padding: 15px;
	font-family: var(--font01);
	font-size: inherit;
	color: var(--color-text-default);
	fill: var(--color-text-default);
	background-color: var(--color-bg-primary);
	@media (max-width: 470px) {
		padding: 15px 0;
	}
}
